{% extends "addRepair.html" %}
{% block head %}

      <h1>Add Equipment</h1>
      <form action="http://localhost:5000/add_equipment" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Biocode</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="biocode" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Serial # </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="serial_number" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Type </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="type" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Check up date </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="r_check_up" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Room # </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="fk_r_no" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
     {% endblock %}