<!DOCTYPE html>
<html>
   <head>
      <title>Page Title</title>
   </head>

   <body>
      <h1>This is add Technicians tap</h1>

      <form action="http://localhost:5000/add_Technicians" method="POST">
        ssn:<br>
        <input type="text" name="ssn" value="example">
        <br>
        Type:<br>
        <input type="text" name="type" value="example">
        <br>
        Full name:<br>
        <input type="text" name="fname" value="example">
        <br>
        Phone number:<br>
        <input type="text" name="Phone_number" value="example">
        <br>
        Email:<br>
        <input type="text" name="Email" value="example"> 
        <br>
        Gender:<br>
        <input type="text" name="Gender" value="example"> 
        <br>
        Salary:<br>
        <input type="text" name="Salary" value="example"> 
        <br>
        Position:<br>
        <input type="text" name="Position" value="example"> 
        <br>
        Qualifications:<br>
        <input type="text" name="Qualifications" value="example">    
        <br>
        Address:<br>
        <input type="text" name="Address" value="example">
        <br>
        tssn:<br>
        <input type="text" name="tssn" value="example">  
        <br>
        tessn:<br>
        <input type="text" name="tessn" value="example">          
        <br>
        <br>
        <input type="submit" value="Submit">
      </form> 

      <br>
      <br>
      <a href="http://127.0.0.1:5000">Home</a>
   </body>
</html>