<!DOCTYPE html>
<html>
   <head>
      <title>Page Title</title>
   </head>

   <body>
      <h1>This is add Equipment tap</h1>

      <form action="http://localhost:5000/add_equipment" method="POST">
        biocode:<br>
        <input type="text" name="biocode" value="example">
        <br>
        serial number:<br>
        <input type="text" name="serial_number" value="example">
        <br>
        Type:<br>
        <input type="text" name="type" value="example">
        <br>
        check up date:<br>
        <input type="text" name="r_check_up" value="example">
        <br>
        Room number:<br>
        <input type="text" name="fk_r_no" value="example">
        <br>
        <br>
        <input type="submit" value="Submit">
      </form> 

      <br>
      <br>
      <a href="http://127.0.0.1:5000">Home</a>
   </body>
</html>