{% extends "addRepair.html" %}
{% block head %}
      <h1>Add Technicians</h1>
      <form action="http://localhost:5000/add_Technicians" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Technician SSN</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="ssn" placeholder="Enter the Technician SSN">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="fname" placeholder="Enter the Doctor's full name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone number</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="Phone_number" placeholder="Enter the Doctor's Phone #">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="E-mail" placeholder="Enter the Doctor's E-mail">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Gender</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="Gender" placeholder="Enter the Doctor's Gender">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Salary</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="Salary" placeholder="Enter the Doctor's Salary">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Position</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="Position" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Qualifications</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="Qualifications" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Address</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="Address" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Supervisor</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="tssn" >
        </div> 
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Manager SSN</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="tessn" >
        </div> 
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endblock %}