{% extends "addRepair.html" %}
{% block head %}
      <h1>Add Technicians</h1>
      <form action="http://localhost:5000/add_Technicians" method="POST">
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputEmail1" class="form-label">Technician SSN</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="ssn" placeholder="Enter the Technician SSN" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Full Name</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="fname" placeholder="Enter the Technician's full name" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Phone number</label>
          <input style="font-size: 20px;"type="text" class="form-control" id="exampleInputPassword1" name="Phone_number" placeholder="Enter the Technician's Phone #" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;"for="exampleInputPassword1" class="form-label">Gender</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Gender" placeholder="Enter the Technician's Gender" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;"for="exampleInputPassword1" class="form-label">Salary</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Salary" placeholder="Enter the Technician's Salary" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Position</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Position" placeholder="Enter 'biomedical Technician' or 'head biomedicalTechnician'" required >
        </div> 
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Address</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Address" placeholder="Enter the Technician's Address" >
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Supervisor</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="tssn" placeholder="Enter the Technician's Supervisor">
        </div> 
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Manager SSN</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="tessn" placeholder="Enter the ssn of the Employee" required>
        </div> 
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {% endblock %}