{% extends "addRepair.html" %}
{% block head %}

      <h1>Add Surgery</h1>
      <form action="http://localhost:5000/add_surgeries" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Surgery #</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="surgery_number" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Type </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="type" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Start Time </label>
          <input type="datetime" class="form-control" id="exampleInputPassword1" name="start_time" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">End Time</label>
          <input type="datetime" class="form-control" id="exampleInputPassword1" name="end_time" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Room #</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="r_no" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Code</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="code" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Patient SSN</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="pssn" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
     {% endblock %}