{% extends "addRepair.html" %}
{% block head %}
      <h1>Add WorksOn</h1>
      <form action="http://127.0.0.1:5000/add_WorksOn" method="POST">
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputEmail1" class="form-label">Manager SSN</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="sssn" placeholder="Enter the SSN of the manager" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Surgery #</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Sno" placeholder="Enter the surgery number" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endblock %}