{% extends "addRepair.html" %}
{% block head %}
      <h1>Add Medical stuff</h1>
      <form action="http://localhost:5000/AddMedicalStuff" method="POST">
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputEmail1" class="form-label">Doctor SSN</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mssn" placeholder="Enter the Doctor SSN" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Full Name</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="fname" placeholder="Enter the Doctor/nurse's full name" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Phone number</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Phone_number" placeholder="Enter the Doctor/nurse's Phone #" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Gender</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Gender" placeholder="Enter the Doctor/nurse's Gender" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Salary</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Salary" placeholder="Enter the Doctor/nurse's Salary" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Position</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Position" placeholder="Enter 'doctor' or 'nurse'" required>
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Address</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="Address" placeholder="Enter the Doctor/nurse's Address">
        </div>
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Supervisor</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="msssn" placeholder="Enter the Doctor/nurse's Supervisor" >
        </div> 
        <div class="mb-3">
          <label style="font-size: 15px;" for="exampleInputPassword1" class="form-label">Employee SSN</label>
          <input style="font-size: 20px;" type="text" class="form-control" id="exampleInputPassword1" name="essn" placeholder="Enter the SSN of the Employee" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {% endblock %}

