{% extends "addRepair.html" %}
{% block head %}
      <h1>Add Patient</h1>
      <form action="http://localhost:5000/AddPatient" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patient SSN</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pssn" placeholder="Enter the Patient SSN">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">ID</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="ID" placeholder="Enter the Patient's ID">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Full Name</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="fname" placeholder="Enter the Patient's full name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone number</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Phone_number" placeholder="Enter the Patient's Phone #">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Gender</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Gender" placeholder="Enter the Patient's Gender">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">E-mail</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Email" placeholder="Enter the Patient's E-mail">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Address</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Address" placeholder="Enter the Patient's Address">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Insurance</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Insurance" placeholder="Enter 'YES' or 'NO">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Employee SSN</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="epssn" placeholder="Enter Employee SSN">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Medical stuff SSN</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="mpssn" placeholder="Enter the Patient's doctor SSN">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Room #</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="rno" placeholder="Enter the Patient's room #">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endblock %}