{% extends "index.html" %}
{% block head %}

<header class="header">

  <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Surgery Department. </a>

  <nav class="navbar">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/add_equipment">Equipment</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/add_surgeries">Surgeries</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/add_ManagerialEmployees">Managerial Employees</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/add_Technicians">Technicians</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/AddPatient">Patient</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/AddMedicalStuff">Medical stuff</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/addRepair">Repair</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/add_WorksOn">works on</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          View
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_equipment">Equipment</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_surgeries">Surgeries</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_ManagerialEmployees">Managerial Employees</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_Technicians">Technicians</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/ViewPatient">Patient</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/ViewMedicalStuff">Medical stuff</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/viewRepair">Repair</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_room">Rooms</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_WorksOn">Works on</a></li>
          <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_contact_us">Contavt us form</a></li>
        </ul>
      </li>
      
      {% if session.log %}
      <a href="http://127.0.0.1:5000/logout">logout</a>
      {% else %}
      <a href="http://127.0.0.1:5000/login">login</a>
      <a href="http://127.0.0.1:5000/register">register</a>
      {% endif %}
  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>

</header>

<section class="home" id="http://127.0.0.1:5000">

  <div class="image">
      <img src="/static/Quitting a job-rafiki.png" alt="xx">
  </div>

  <div class="content">
      <h3>Wellcome </h3>
  </div>
  
</section>





{% endblock %}