{% extends "index.html" %}
{% block head %}


<header class="header">

  <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Surgery Department. </a>

  <nav class="navbar">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Add
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/add_surgeries">Surgeries</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/AddPatient">Patient</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/AddMedicalStuff">Medical stuff</a></li>
        <li><a class="dropdown-item" href="#">works on</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        View
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_surgeries">Surgeries</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/ViewPatient">Patient</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/ViewMedicalStuff">Medical stuff</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_room">Rooms</a></li>
        <li><a class="dropdown-item" href="http://127.0.0.1:5000/view_WorksOn">Works on</a></li>
      </ul>
    </li>
  </li>
  <a href="http://127.0.0.1:5000/newpatient"><i class="fas fa-home"></i>p</a>
  <a href="http://127.0.0.1:5000"><i class="fas fa-home"></i>home</a>
  {% if session.log %}
  <a href="http://127.0.0.1:5000/logout">logout</a>
  {% else %}
  <a href="http://127.0.0.1:5000/login">login</a>
  <a href="http://127.0.0.1:5000/register">register</a>
  {% endif %}
 </nav>

  <div id="menu-btn" class="fas fa-bars"></div>

</header>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Patient SSN</th>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Phone # </th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Insurance</th>
      <th scope="col">Doctor Name</th>
      <th scope="col">Doctor SSN</th>
      <th scope="col">Room #</th>
    </tr>
  </thead>
  <tbody>
  {% for r in data.rec %}
    <tr>
      {% for l in r %}
      <td>{{ l }}</td>
      {% endfor %} 
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}