<!DOCTYPE html>
<html>
   <head>
      <title>SURGERY DEPARTMENT</title>
   </head>

   <body>
      <h1>Home</h1>

      <a href="http://127.0.0.1:5000/add_equipment">Add Equipment</a>
      <br>
      <a href="http://127.0.0.1:5000/view_equipment">View Equipment</a>
      <br>
      <a href="http://127.0.0.1:5000/add_surgeries"> Add Surgeries</a>
      <br>
      <a href="http://127.0.0.1:5000/view_surgeries"> View Surgeries</a>
      <br>
      <a href="http://127.0.0.1:5000/view_room"> View Rooms</a>
      <br>
      <a href="http://127.0.0.1:5000/view_ManagerialEmployees">View Managerial Employees</a>
      <br>
      <a href="http://127.0.0.1:5000/add_ManagerialEmployees">Add Managerial Employees</a>
      <br>
      <a href="http://127.0.0.1:5000/view_Technicians">View Technicians</a>
      <br>
      <a href="http://127.0.0.1:5000/add_Technicians">Add Technicians</a>
      <br>
      <a href="http://127.0.0.1:5000/view_WorksOn">View Works On</a>
      <br>
      <a href="http://127.0.0.1:5000/ViewPatient">View Patient</a>
      <br>
      <a href="http://127.0.0.1:5000/AddPatient">Add Patient</a>
      <br>
      <a href="http://127.0.0.1:5000/ViewMedicalStuff">View Medical Stutt</a>
      <br>
      <a href="http://127.0.0.1:5000/AddMedicalStuff">Add Medical Stuff</a>
      <br>
      <a href="http://127.0.0.1:5000/viewRepair">View Repair</a>
      <br>
      <a href="http://127.0.0.1:5000/addRepair">Add Repair</a>

   </body>
</html>