{% extends "index.html" %}
{% block head %}
<header class="header">

  <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Surgery Department. </a>

  <nav class="navbar">
      <a href="http://127.0.0.1:5000"><i class="fas fa-home"></i>home</a>
      {% if session.log %}
      <a href="http://127.0.0.1:5000/logout">logout</a>
      {% else %}
      <a href="http://127.0.0.1:5000/login">login</a>
      <a href="http://127.0.0.1:5000/register">register</a>
      {% endif %}
  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>

</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <form action="http://localhost:5000/patient" method="POST" class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Enter your ssn to see your info" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><i class="uil uil-search"></i></button>
  </form> 
</div>
{% endblock %}