{% extends "view_room.html" %}

{% block head %}


<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Bio-code...">

      <h1>Equipments</h1>
      <div style="overflow-x:auto; font-size: 18px;">
        <table id="myTable">
        <thead>
          <tr>
            <th scope="col">Bio-code</th>
            <th scope="col">Seial #</th>
            <th scope="col">Type</th>
            <th scope="col">Checkup Date</th>
            <th scope="col">Room #</th>
          </tr>
        </thead>
        <tbody>
        {% for r in data.rec %}
          <tr>
            {% for l in r %}
            <td>{{ l }}</td>
            {% endfor %} 
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
<br>
<br>
<br>
<br>
<br>
     
      {% endblock %}