{% extends "view_room.html" %}

{% block head %}
      <h1>Repair</h1>
      <div style="overflow-x:auto; font-size: 18px;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Technicians SSN</th>
            <th scope="col">Type</th>
            <th scope="col">Bio-code</th>
          </tr>
        </thead>
        <tbody>
        {% for r in data.rec %}
          <tr>
            {% for l in r %}
            <td>{{ l }}</td>
            {% endfor %} 
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% endblock %}