{% extends "view_room.html" %}

{% block head %}
      <h1>Surgeries</h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Surgery #</th>
            <th scope="col">Type</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time </th>
            <th scope="col">Code</th>
            <th scope="col">Room #</th>
            <th scope="col">Patient SSN</th>
          </tr>
        </thead>
        <tbody>
        {% for r in data.rec %}
          <tr>
            {% for l in r %}
            <td>{{ l }}</td>
            {% endfor %} 
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endblock %}